{% extends "base.twig" %}

{% block body %}

    {% embed "header.twig" %}
        {% block menuItem %}
            <li><a href="/messages" class="nav-link px-2">Отправка сообщений</a></li>
        {% endblock %}
    {% endembed %}

    <div>
        <h1>История сообщений</h1>
        <br>
        <div class="d-flex flex-column flex-md-row gap-1">
            <div class="me-auto">
                <form action="/messages/history/resend_all" method="post">
                    <div>
                        <input class="btn btn-primary me-2" type="submit" value="Отправить все неотправленные">
                    </div>
                </form>
            </div>
            <div class="me-auto">
                <div>
                    <input class="btn btn-danger me-2" type="submit" value="Удалить все неотправленные"
                           data-bs-toggle="modal" data-bs-target="#deleteAllModal">
                </div>
            </div>
            <div class="">
                <div class="input-group input-group-sm mb-3">
                    <form action="/messages/history" method="get">
                        <div>
                            <div class="d-flex flex-column flex-md-row justify-content-start">
                                <select class="form-select w-auto me-2" name="status">
                                    <option {% if queryParams.status == 'all' %} selected {% endif %} value="all">Все
                                        статусы
                                    </option>
                                    <option {% if queryParams.status == 'send' %} selected {% endif %} value="send">
                                        {{ statuses.send.title }}
                                    </option>
                                    <option {% if queryParams.status == 'notSend' %} selected {% endif %}
                                            value="notSend">{{ statuses.notSend.title }}
                                    </option>
                                </select>

                                <select class="form-select w-auto me-2" name="orderBy">
                                    <option {% if queryParams.orderByDirection == 'desc' %} selected {% endif %}
                                            value="desc">По убыванию даты
                                    </option>
                                    <option {% if queryParams.orderByDirection == 'asc' %} selected {% endif %}
                                            value="asc">По возрастанию даты
                                    </option>
                                </select>

                                <input class="btn btn-success" type="submit" value="Искать">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column flex-md-row gap-1">
            <div class="">
                <input class="btn btn-primary me-2" type="submit" form="tableForm" value="Отправить выбранные"
                       formaction="/messages/history/resend_selected">
            </div>
            <div class="">
                <input class="btn btn-danger me-2" type="submit" value="Удалить выбранные"
                       data-bs-toggle="modal" data-bs-target="#deleteSelectedModal">
            </div>
        </div>
    </div>
    <form action="/messages/history" method="post" id="tableForm">
        <div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th></th>
                        <th>Текст сообщения</th>
                        <th>Дата последней отправки</th>
                        <th>Статус</th>
                        <th>Причина</th>
                    </tr>
                    {% for message in messagesHistory %}
                        <tr>
                            <td>
                                <input class="form-check-input" type="checkbox" id="checkbox{{ message.getId() }}"
                                       value={{ message.getId() }} name="selectedIds[]"
                                        {% if message.getStatus() ==  statuses.send.title %} disabled {% endif %}>
                            </td>
                            <td>{{ message.getText() }}</td>
                            <td>{{ message.getLastSendDate() }}</td>
                            <td>{{ message.getStatus() }}</td>
                            <td>{{ message.getReason() }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </form>

    {% embed "deleteModalDialog.twig" %}
        {% block deleteModalDialogId %}deleteAllModal{% endblock %}
        {% block deleteModalDialogLabel %}deleteAllModalLabel{% endblock %}
        {% block deleteModalDialogTitle %}Удаление неотправленных сообщений{% endblock %}
        {% block deleteModalDialogBody %}Удалить все неотправленные сообщения?{% endblock %}
        {% block deleteModalDialogButton %}
            <form action="/messages/history/delete_all" method="post">
                <input class="btn btn-danger" type="submit" value="Удалить">
            </form>
        {% endblock %}
    {% endembed %}

    {% embed "deleteModalDialog.twig" %}
        {% block deleteModalDialogId %}deleteSelectedModal{% endblock %}
        {% block deleteModalDialogLabel %}deleteSelectedModal{% endblock %}
        {% block deleteModalDialogTitle %}Удаление выбранных неотправленных сообщений{% endblock %}
        {% block deleteModalDialogBody %}Удалить выбранные неотправленные сообщения?{% endblock %}
        {% block deleteModalDialogButton %}
            <input class="btn btn-danger" type="submit" form="tableForm" value="Удалить"
                   formaction="/messages/history/delete_selected">
        {% endblock %}
    {% endembed %}
{% endblock %}