{% extends "base.twig" %}

{% block body %}

    {% embed "header.twig" %}
        {% block menuItem %}
            <li><a href="/messages" class="nav-link px-2">Отправка сообщений</a></li>
        {% endblock %}
    {% endembed %}

    <div>
        <h1>История сообщений</h1>
        <br>
        <div class="d-flex flex-column flex-md-row">
            <div class="me-auto">
                <form action="/messages/history" method="post">
                    <div>
                        <input class="btn btn-primary me-2" type="submit" value="Отправить неотправленные">
                    </div>
                </form>
            </div>
            <div class="">
                <div class="input-group input-group-sm mb-3">
                    <form action="/messages/history" method="get">
                        <div>
                            <div class="d-flex flex-column flex-md-row justify-content-start">
                                <select class="form-select w-auto me-2" name="status_id">
                                    <option {% if queryParams.statusId == 0 %} selected {% endif %} value="0">Все статусы</option>
                                    {% for status in statuses %}
                                        <option {% if queryParams.statusId == status.id %} selected {% endif %} value={{ status.id }}>{{ status.title }}</option>
                                    {% endfor %}
                                </select>

                                <select class="form-select w-auto me-2" name="orderBy">
                                    <option {% if queryParams.orderByDirection == 'desc' %} selected {% endif %} value="desc">По убыванию даты</option>
                                    <option {% if queryParams.orderByDirection == 'asc' %} selected {% endif %} value="asc">По возрастанию даты</option>
                                </select>

                                <input class="btn btn-success" type="submit" value="Искать">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Текст сообщения</th>
                    <th>Дата последней отправки</th>
                    <th>Статус</th>
                    <th>Причина</th>
                </tr>
                {% for message in messagesHistory %}
                    <tr>
                        <td>{{ message.getText() }}</td>
                        <td>{{ message.getLastSendDate() }}</td>
                        <td>{{ message.getStatus().getTitle() }}</td>
                        <td>{{ message.getReason() }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}